## Default: Etc/UTC
TZ=
## Default: 1000
PUID=
## Default: 1000
PGID=

## Default: bookworm-slim
CONTAINER_IMG_VER=
## Default: ./containers/ssh
SSH_DIR=
## Default: (named volume) git-sync_data
GIT_SYNC_DATA_DIR=
